force-app/main/default/flows/Update_Amount_and_List_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Discount_Type_Check</name>
        <label>Discount Type Check</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Flat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Offers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Offers.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_Price_and_Amount_for_Flat</targetReference>
            </connector>
            <label>Flat</label>
        </rules>
        <rules>
            <name>Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Offers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Offers.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_Price_and_Amount_for_Percentage</targetReference>
            </connector>
            <label>Percentage</label>
        </rules>
        <rules>
            <name>No_Active_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Offers.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_No_Active_Offer</targetReference>
            </connector>
            <label>No Active Offer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Offer_Available</name>
        <label>Is Offer Available</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_List_Price_and_Amount_for_No_Offer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_List_Unit_Price.Product2.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Offers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdateAmountForFlatDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_List_Unit_Price.UnitPrice}-{!Get_Product_Offers.Discount__r.Flat_Discount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateAmountForPercentageDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_List_Unit_Price.UnitPrice}*(100-{!Get_Product_Offers.Discount__r.Discount__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Amount and List Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amount and List Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_List_Unit_Price</name>
        <label>Get List_Unit Price</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Offer_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UnitPrice</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Offers</name>
        <label>Get Product Offers</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Discount_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductOffers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_for_No_Active_Offer</name>
        <label>Update for No Active Offer</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_Price_and_Amount_for_Flat</name>
        <label>Update List Price and Amount for Flat</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>UpdateAmountForFlatDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_Price_and_Amount_for_No_Offer</name>
        <label>Update List Price and Amount for No Offer</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_Price_and_Amount_for_Percentage</name>
        <label>Update List Price and Amount for Percentage</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>UpdateAmountForPercentageDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price__c</field>
            <value>
                <elementReference>Get_List_Unit_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_List_Unit_Price</targetReference>
        </connector>
        <object>Order_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
