force-app/main/default/flows/Update_Amount_and_List_Price_for_Cart_Item_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>DiscountTypeCheck</name>
        <label>DiscountTypeCheck</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductOffers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_Price_and_Amount_for_PercentageCI</targetReference>
            </connector>
            <label>Percentage</label>
        </rules>
        <rules>
            <name>Flat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductOffers.Discount__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductOffers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_Price_and_Amount_for_Flat_CartItem</targetReference>
            </connector>
            <label>Flat</label>
        </rules>
        <rules>
            <name>No_Active_ProductOffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetPriceBookEntry.Product2.TotalQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateListPriceforCI</targetReference>
            </connector>
            <label>No Active ProductOffer</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOfferAvailable</name>
        <label>IsOfferAvailable</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>UpdateListPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductOffers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdateAmountForFlatDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!GetPriceBookEntry.UnitPrice}-{!GetProductOffers.Discount__r.Flat_Discount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateAmountForPercentageDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!GetPriceBookEntry.UnitPrice}*(100-{!GetProductOffers.Discount__r.Discount__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Amount and List Price for Cart_Item__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amount and List Price for Cart_Item__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPriceBookEntry</name>
        <label>GetPriceBookEntry</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOfferAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductOffers</name>
        <label>GetProductOffers</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DiscountTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductOffers__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_List_Price_and_Amount_for_Flat_CartItem</name>
        <label>Update List Price and Amount for Flat CartItem</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>UpdateAmountForFlatDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>GetPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_Price_and_Amount_for_PercentageCI</name>
        <label>Update List Price and Amount for Percentage CartItem</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>UpdateAmountForPercentageDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>GetPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateListPrice</name>
        <label>UpdateListPrice</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>GetPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>GetPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateListPriceforCI</name>
        <label>UpdateListPriceforCI</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>GetPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceBookEntry</targetReference>
        </connector>
        <object>CartItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
